backports-abc==0.5
certifi==2016.9.26
elasticsearch==5.1.0
gcm==0.3
jpush==3.2.1
meld==3.16.4
olefile==0.44
paho-mqtt==1.2
Pillow==4.0.0
ppmessage-mqtt==1.0.11
pygobject==3.22.0
pypinyin==0.16.0
qiniu==7.1.0
redis==2.10.5
requests==2.12.4
singledispatch==3.4.0.3
six==1.10.0
SQLAlchemy==1.1.5
StringGenerator==0.1.9
tornado==4.4.2
urllib3==1.19.1
